.activate{
    background: url(../img/activateBk.png) no-repeat;
    background-size: 100% 100%;
}

.redSignIn {
    width: 27rem;
    height: 6rem;
    border-radius: 3rem;
    background: url(../img/redSignIn.png) no-repeat;
    background-size: 100% 100%;
    text-align: center;
    position: absolute;
    bottom: 15rem;
    left: 10rem;
    font-size: 3rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 5rem;
    letter-spacing: 0rem;
    color: #ffffff;
    cursor: pointer;
}

.inputActivate{
    position: absolute;
    top: 11rem;
    left: 4.5rem;
}
.people{
    width: 7rem;
    height: 10rem;
    background: url(../img/people.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 20.5rem;
}
.inputActivate input {
    display: inline-block;
    box-shadow: inset 0rem 0rem 0rem 0.2rem rgba(20, 129, 217, 0.35);
    width: 35rem;
    background-color: #ffffff;
    border: 0;
    border-radius: 6rem;
    outline: none;
    padding: 2rem;
    font-size: 2rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 3rem;
	letter-spacing: 0rem;
    color: #757575;
    text-align: center;
    caret-color:black; 
}