*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

.v-table-class{
  border: 1px solid transparent !important;
}

.v-table-rightview{
  right: -1px !important;
}

.tabButton{
  background: #666666;
  display: inline-block;
  width: 300px;
  height: 90px;
  border-radius: 45px;
  line-height: 90px;
  text-align: center;
  font-size: 34px;
  color: #f9f9f9;
}